@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1, h2, h3, h4, h5 {
  font-family: 'Crimson Text', serif;
  font-weight: 600;
}

p {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}

.button-outline {
  font-family: 'Open Sans', sans-serif;
}
