// Breakpoints

$breakpoint-s: 1px;
$breakpoint-m: 600px;
$breakpoint-l: 1000px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;

// Fonts

$f-times: Times, serif;
$f-helvetica: Helvetica, sans-serif;

// Colors

$c-black: #000000;
$c-black-light: #333333;
$c-white: #FFFFFF;
$c-gray: #95989A;
$c-gray-2: #707070;
$c-gray-light: #D3D3D3;
$c-peach: rgb(225, 228, 188); // heading underline
